@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/logo.png" alt="CLASS Logo" height="40"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/angebote">Angebote</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/login">Login</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    @Body
</div>