/* ============================= */
/* Navbar Grundstruktur */
/* ============================= */

.custom-navbar {
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: #000;
    background: transparent !important;
    padding: 1.6rem 0;
}

/* Abstand wegen fixed navbar */
.page-content {
    padding-top: 110px;
}

/* ============================= */
/* Logo */
/* ============================= */

.navbar-brand img {
    height: 40px;
}

/* ============================= */
/* Navigation Links */
/* ============================= */

.custom-navbar .nav-link.custom-link {
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 600;
    margin-left: 1.6rem;
    padding: 0.25rem 0;
    transition: font-weight 0.2s ease;
}

/* Underline */
.custom-navbar .nav-link.custom-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.25s ease;
}

.custom-navbar .nav-link.custom-link:hover {
    font-weight: 700;
}

.custom-navbar .nav-link.custom-link:hover::after {
    width: 100%;
}

.custom-navbar .nav-link.custom-link.active {
    font-weight: 700;
}

.custom-navbar .nav-link.custom-link.active::after {
    width: 100%;
}

.page-content {
    padding-top: 110px;
    padding-left: 4rem;
    padding-right: 4rem;
}

@media (max-width: 768px) {
    .page-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}