@page "/"

<PageTitle>Home</PageTitle>

<section class="home-page">
    <h1>Schüler helfen Schülern</h1>
    <h1>Finde <span class="highlight">Nachhilfe</span></h1>

    <p>
        Finde Nachhilfe oder verdiene Geld mit deinem Wissen – direkt an der HTL Wien West
    </p>

    <div class="hero-buttons">
        <a href="/nachhilfe" class="btn-primary-custom">
            Nachhilfe finden
        </a>

        <a href="/profil" class="btn-secondary-custom">
            Nachhilfe anbieten
        </a>
    </div>

    <img src="/images/home.png" alt="Home" class="home-image">
    <img src="/images/trustbar.png" alt="Trustbar" class="trustbar">

    <h2 class="why-title">Warum C.L.A.S.S.?</h2>

    <section class="why-section">

        <div class="why-left">
            <img src="/images/why.png" alt="Warum CLASS" />
        </div>

        <div class="why-right">

            <div class="why-item">
                <div class="why-head">
                    <h3>Alles zentral an einem Ort</h3>
                    <span>001</span>
                </div>
                <p>Alle Fächer, Tutor:innen und Termine auf einer Plattform</p>
            </div>

            <div class="why-item">
                <div class="why-head">
                    <h3>Faire & transparente Preise</h3>
                    <span>002</span>
                </div>
                <p>Klare Stundenpreise ohne versteckte Kosten</p>
            </div>

            <div class="why-item">
                <div class="why-head">
                    <h3>Noten & Fortschritt verfolgen</h3>
                    <span>003</span>
                </div>
                <p>Noten tracken und Entwicklungen messbar machen.</p>
            </div>

            <a href="/register" class="why-cta">Jetzt anmelden</a>

        </div>

    </section>
</section>
