@page "/"

<PageTitle>Home</PageTitle>

<h1>Schüler helfen Schülern</h1>
<h1>Finde <span class="highlight">Nachhilfe</span></h1>

<p>
    Finde Nachhilfe oder verdiene Geld mit deinem Wissen – direkt an der HTL Wien West
</p>

<img src="/images/home.png" alt="Home" class="home-image">