@page "/profil"

<PageTitle>Profil</PageTitle>

<h1>Profil</h1>
<p>Hier wird dein Profil angezeigt.</p>

<div id="loginDiv">
	<p>Melde dich an, um auf diese Seite zuzugreifen</p>
	<div style="margin-top: 2rem">
		<a href="/register" class="btn-secondary-custom">Anmelden/Registrieren</a>
	</div>
</div>
